@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600&family=Shadows+Into+Light&family=Tilt+Prism&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif, 'Poppins', 'Shadows Into Light', cursive, 'Tilt Prism';
}

a {
  text-decoration: none;
}